@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }

  .scrollbar {
    &::-webkit-scrollbar-thumb {
      background-color: #ff7a59;
      border-radius: 14px;
    }
    &::-webkit-scrollbar-corner {
      background-color: #ff7a59;
      border-radius: 14px;
    }
    &::-webkit-scrollbar {
      display: block;
      width: 14px;
      height: 14px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
      background: #d9d9d980;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      background-clip: padding-box;
    }
  }
}

@theme {
  --color-white-normal: #ffffff;
  --color-black-normal: #000000;
  --color-orange-normal: #ff7a59;
  --color-gray-normal: #d9d9d9;
  --color-gray-dark: #4b4a4a;

  --text-title: 2.375rem;
  --text-title--line-height: 140%;
  --text-title--letter-spacing: -0.025rem;
  --text-title--font-weight: 500;

  --text-sub-title: 1.875rem;
  --text-sub-title--line-height: 140%;
  --text-sub-title--letter-spacing: -0.025rem;
  --text-sub-title--font-weight: 400;

  --text-desc: 1.125rem;
  --text-desc--line-height: 140%;
  --text-desc--letter-spacing: -0.025rem;
  --text-desc--font-weight: 400;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: 140%;
  --text-3xl--letter-spacing: -0.025rem;
  --text-3xl--font-weight: 600;

  --text-2xl: 1.5625rem;
  --text-2xl--line-height: 140%;
  --text-2xl--letter-spacing: -0.025rem;
  --text-2xl--font-weight: 600;

  --text-2xl-medium: 1.5625rem;
  --text-2xl-medium--line-height: 140%;
  --text-2xl-medium--letter-spacing: -0.025rem;
  --text-2xl-medium--font-weight: 500;

  --text-2xl-regular: 1.5625rem;
  --text-2xl-regular--line-height: 140%;
  --text-2xl-regular--letter-spacing: -0.025rem;
  --text-2xl-regular--font-weight: 400;

  --text-xl: 1.25rem;
  --text-xl--line-height: 140%;
  --text-xl--letter-spacing: -0.025rem;
  --text-xl--font-weight: 400;

  --text-lg: 1.125rem;
  --text-lg--line-height: 150%;
  --text-lg--letter-spacing: -0.011rem;
  --text-lg--font-weight: 400;

  --text-lm: 1rem;
  --text-lm--line-height: 150%;
  --text-lm--letter-spacing: -0.011rem;
  --text-lm--font-weight: 600;

  --text-md: 0.9375rem;
  --text-md--line-height: 140%;
  --text-md--letter-spacing: -0.025rem;
  --text-md--font-weight: 400;
}
